
  <div class="row" style="margin-left: 0.1%;">
    
    <div class="col-lg-2 " style=" background-color:#5e1027; position:  ; ">
      <div>
        <h1 style="font-size: 150%; color:white ;">DeoStore</h1>
      </div> <br>
      <h3 class="Font" style="font-size: 150%;"><a href="/admin">Dashboard</a></h3>
      <br><br>

      <h3 style="font-size: 150%;"> <a href="admin/GetUsers">User
          Management</a></h3>
      <br><br>

      <h3 style="font-size: 150%;"> <a href="admin/ProductManagement">Product
          Management</a></h3>
      <br><br>

      <h3 style="font-size: 150%;"> <a href="">Category
          Management</a></h3>
      <br><br>
      <h3 style="font-size: 150%;"> <a href="">Offer
          Management</a></h3>
      <br><br>
      <h3 style="font-size: 150%;"> <a href="">Sales
          Reports</a></h3><br><br>

      <h3 style="font-size: 150%; "> <a href="">About
        </a></h3>

    </div>

      
<div class="col-lg-10" style="padding-left:3% ;" >

  <div><h1 style="color:#5e1027 ;">addProduct</h1></div>
  
<form class="form-horizontal" action="/admin/addProduct" method="POST" enctype="multipart/form-data" >
    <div class="form-group">
      <label for="email">Product Name</label>
      <input type="text" name="name" class="form-control" id="productName" placeholder="Product name" >
    </div>
    <div class="form-group">
      <label for="pwd">Company</label>
      <input type="text" name="company" class="form-control" id="pwd" placeholder="Company" >
    </div>
     <div class="form-group">
      <label for="">Category</label>
      <br>
      
      <label for="pwd">MEN</label>
      <input type="radio" name="Category" id="xxx" value="Men">
      <label for="">WOMEN</label>
      <input type="radio" name="Category" id="xxx" value="Women">
      <label for="">Kids</label>
      <input type="radio" name="Category" id="xxx" value="Kids">
      <label for="">Watch</label>
      <input type="radio" name="Category" id="xxx" value="Watch">
      <label for="">Laptop</label>
      <input type="radio" name="Category" id="xxx" value="Laptop">
        <label for="">Shoes</label>
      <input type="radio" name="Category" id="xxx" value="Shoes">
    </div>
     <div class="form-group">
      <label for="pwd">Available stock</label>
      <input type="text" name="stock" class="form-control" id="pwd" placeholder="Available stock" >
    </div>
        
     <div class="form-group">
      <label for="pwd">Price</label>
      <input type="text" class="form-control"  name="price" placeholder="Price ">
    </div>


    
    
     <div class="form-group">
      <label for="pwd">Image</label>
      <input type="file" class="form-control"   name="img" >
    </div>

    
     <div class="form-group">
      <label for="pwd">Image</label>
      <input type="file" class="form-control"   name="img" >
    </div>
    
    
     <div class="form-group">
      <label for="pwd">Image</label>
      <input type="file" class="form-control"   name="img" >
    </div>
    
    
  
   

     
    
    <button onclick="habbr()" id="id" type="submit" class="btn btn-pink" style=" margin-left:50%; background-color:#5e1027; color: antiquewhite; ">submit</button>
  </form>

</div>

    </div>
    <div class="footer"></div>
 
<script>
  



</script>
 
  