  
  <head>
    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.4.26/dist/sweetalert2.all.min.js">
       
    </script>
  </head>

  <button id="normal">normal</button>
  <button id="sweet">sweet</button>

  <script>
    document.getElementById('normal').addEventListener('click',function(){
        alert("iam normal")
    })

     document.getElementById('sweet').addEventListener('click',function(){
        swal.fire("jwse")
    })
  </script>