
<div class="row">
    <div class="col-lg-12 col-sm-12">
        
<div class="col-lg-12 col-sm-12" style="background-color: rgb(73, 46, 46);">
    <div class="row">
        <div class="col-lg-3 col-sm-3">
            <h1><a href="/" style="color: white;">DeoStore</a>
            </h1 >
        </div>

        <div class="col-lg-4 col-sm-4">
            <div class="input-group" style="padding-top: 3%;">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
              <button style="background-color:  rgb(73, 46, 46);color: white;">Search</button>
            </div>
        </div>

        <div class="col-lg-3 col-sm-3">
            <div class="row">
                <div class="col-lg-12 col-sm-12" style="padding-top:0px ;">
                    <button  type="button  "
                        style=" margin-top: 2%; background-color:  rgb(73, 46, 46);border-color:white;  cursor: pointer; border-radius: 30%;  color:white ;">
                        <svg style="color:white ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                        <span class="badge badge-light">9</span>
                        <br><a href="/cart-page" style="color: aliceblue ;"> Cart</a>
</button>
                        <button class="y" style="  border-color: aliceblue; border-radius: 30%; position: relative;
                 
                 
                 ; background-color:rgb(73, 46, 46); ; margin-left: 59px; color:white ;" type="button">
                            <span style="  color:white ; width: 10%;"></span><span
                                class="badge badge-light">9</span><br>
                            <span class="sr-only">unread messages</span>
                            whishlist</button>
                    




                </div>



            </div>
        </div>

        <div class="col-lg-2 col-sm-2">

            <div class="dropdown show" style=" height: ; max-width: 20%;">
                <a style="background-color:rgb(73, 46, 46);" class="btn btn-secondary dropdown-toggle" href="#"
                    role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <span><img style="width: 15%; margin-bottom: ;" src="images/NicePng_chen-png_3026464.png"
                            alt=""></span><br> <span style="margin-left: 13%;">Logged</span>
                </a>

                <div style="background-color:rgb(73, 46, 46); margin-right: 70px;  width: 10ch% "
                    class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a style="background-color:rgb(73, 46, 46); color: white;" class="dropdown-item" href="/UserProfile">MyAccount</a>
                    <a style="color:white ;" class="dropdown-item"  href="/Logout">Logout</a>

                </div>
            </div>

        </div>


    </div>

</div>

    </div>
</div>

<div class="container" style="background-color: white; margin-top: 10%; padding-bottom: 3%;" >
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div><h1 style="margin-left: 23%;color:rgb(133, 55, 55) ;">OrderPlacedSuccessFully</h1></div>
        </div>
    </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div style="margin-left: 40%;"><button class="btn btn-primary"><a href="/ViewOrder">ViewOrder</a></button></div>
        </div>
      </div>
</div>