<div class="row" style="margin-right: ;margin-left: ;">
    <div class="col-lg-12" style="background-color: rgb(73, 46, 46); ;">
        <div class="row">
            <div class="col-lg-3">
                <h1><a href="/" style="color: white;margin-left:9% ">DeoStore</a>
            </h1 >
            </div>

            <div class="col-lg-6">
                <div class="input-group" style="padding-top: 3%;">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                        aria-describedby="search-addon" />
                    <button type="button" class="btn btn-danger" style="background-color: rgb(73, 46, 46); ">search</button>
                </div>
            </div>


            <div class="col-lg-3" style="padding-left: 10%;">

                <div class="dropdown show" style=" height: ; max-width: 20%;">
                    <a style="background-color:rgb(73, 46, 46);" class="btn btn-secondary dropdown-toggle"
                        href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span><img style="width: 35%; margin-bottom: ;" src="images/NicePng_chen-png_3026464.png"
                                alt=""></span><br> <span style="margin-left: 13%;">Logged</span>
                    </a>

                    <div style="background-color:rgb(73, 46, 46); margin-right: 70px;  width: 10ch% "
                        class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a style="background-color:rgb(73, 46, 46) ; color: white;" class="dropdown-item" href="/UserProfile">MyAccount</a>
                        <a class="dropdown-item" style="color: white;" href="/Logout">Logout</a>

                    </div>
                </div>

            </div>


        </div>

    </div>
</div>

<div class="row" >
    <div class="col-lg-8" style="margin-left: 1.5%; margin-top: 0.5%;border-style: groove; ">
        <div class="row" style="background-color: white;">
            <div class="col-lg-1">
       <div style="background-color: darkgray; margin-left: 10%;margin-right: 15%; padding-left: 23%; margin-top: 35%; margin-bottom: 35%;" >1</div>
            </div>

            <div class="col-lg-1" style="margin-top: 1.5%;"><h5>LOGIN</h5></div>
          <div class="col-lg-2"><h3 style="color:blue ; margin-top: 6%;">✓</h3></div>
        </div>

          <div class="row" style="margin-top: 1%; background-color:white ;">
            <div class="col-lg-1">
       <div style="background-color: darkgray; margin-left: 10%;margin-right: 15%; padding-left: 23%; margin-top: 35%; margin-bottom: 35%;" >2</div>
            </div>

            <div class="col-lg-1.5" style="margin-top: 1.5%;"><h5>Delivery Address</h5></div>
          <div class="col-lg-3"><h3 style="color:blue ; margin-top: 6%; ">✓</h3></div>
        </div>

            <div class="row" style="margin-top: 1%; background-color:rgb(73, 46, 46);">
            <div class="col-lg-1">
       <div style="background-color: darkgray; margin-left: 10%;margin-right: 15%; padding-left: 23%; margin-top: 35%; margin-bottom: 35%;" >3</div>
            </div>

            <div class="col-lg-1.5" style="margin-top: 1.5%; "><h5 style="color: white;">PAYMENTOPTIONS</h5></div>
          <div class="col-lg-3"><h3 style="color:blue ; margin-top: 6%; "></h3></div>
        </div>

     <form action="/PlaceOrder" id="Form" method="post" enctype="application/x-www-form-urlencoded">
        <div class="row">
            <div class="col-lg-3"><h6>Cash on delivery</h6></div>
            <div class="col-lg-1"><input type="radio" name="name" value="cash on delivery"></div>
        </div>

          <div class="row">
            <div class="col-lg-3"><h6>UPI</h6></div>
            <div class="col-lg-2"><input type="radio" name="name" value="Razorpay"></div>
              
        </div>

         <div style="margin-top: 3%; float: right; margin-bottom: 5%;"><button style="border-radius: 20%; background-color:white ; border-color:rgb(54, 10, 10) ;"  >Continue</button></div>
     </form>

    </div>

    <div class="col-lg-3" style=" background-color: white; margin-left:4% ; margin-top: 0.8%;">
    <div style="margin-left: 10px;">
        <h5 style="color: darkgray;">PRICE DETAILS</h5><hr>

            <h6>Price(1 item)</h6>
            <br><h6>Discount</h6>
            <br><h6>Delivery Charges</h6>
            <br><h6>Secured Packaging Fee</h6>
            <hr>
            <h4>Total Amount {{data.TotalPrice}}</h4>
           <hr>
    </div>
    
</div>
</div>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    $('#Form').submit((e)=>{
         e.preventDefault()
         $.ajax({
            url:'/PlaceOrder'   ,
            method:"post",
            data:$('Form').serialize(),
            success:(response)=>{
                 if(  response.Success){
                         console.log('success working')
                location.href='/PlaceOrder'

                }else{
                 
                 razorpay(response)
    
                
                }
                
            }


                 })


    })


              function razorpay(Order){
            
                 var options = {
    "key": 'rzp_test_ipAV8YSYxbogZn', // Enter the Key ID generated from the Dashboard
    "amount": Order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": Order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler":(response)=>{
        alert(response.razorpay_payment_id)
          alert(response.razorpay_order_id)
            alert(response.razorpay_signature)
               location.href='PlaceOrder'
      //      varifypayment(response)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": " #AF4665"
    }
};

var rzp1 = new Razorpay(options); 
 rzp1.open();
              }


          function varifypayment(response){
            alert ('varify payment is workimg')

            $.ajax({
                url:'/VarifyPayment',
                data:{
                   
                },
                method:'post',
            })
          }
</script>

