<div style="width: 50%; margin:0 auto; color: #FF007F ;border:2px solid #FF007F ;">
<div class="container">
  <h2>SIGN UP</h2>
  <form action="/signup" method="POST" enctype="application/x-www-form-urlencoded">
     <div class="form-group">
      <label for="NAME">FullNameL</label>
      <input type="text" name="FullName" class="form-control" id="productName" placeholder="Username" >
    </div>
     <div class="form-group">
      <label for="NAME">EMAIL</label>
      <input type="number" name="PhoneNumber" class="form-control" id="productName" placeholder="Username" >
    </div>
    
    <div class="form-group">
      <label for="NAME">EMAIL</label>
      <input type="email" name="email" class="form-control" id="productName" placeholder="Username" >
    </div>
     <div class="form-group">
      <label for="NAME">PASSWORD</label>
      <input type="password" name="password" class="form-control" id="productName" placeholder="Password" >
    </div>
    
   
   

     
    <button type="submit" class="btn btn-pink" style=" margin-left:50%; background-color: #FF007F; color: antiquewhite; ">SIGN UP</button>
     <a href="/login">login</a>
    </form>

  
</div>
</div>

